/* NEW HEADER */
/* LOGO */
.header-logo {
  width: 146px;
  height: 146px;
}

/* ADDRESSES */
.address-item {
  font-family: "DejaVu Sans", sans-serif;
  color: #1b3a98 !important;
}

/* BOOK A VISIT BUTTON */
.btn-book-visit {
  background-color: #1b3a98;
  color: white;
  border: none;
  font-family: "DejaVu Sans", sans-serif;
  width: 260px;
}

.btn-book-visit:hover {
  background-color: #4963b3;
}

/* PAGES */
.pages {
  float: right;
  margin-top: 15px;
}

.pages-item {
  font-family: "DejaVu Sans", sans-serif;
  color: #1b3a98 !important;
}

/* MEDIA QUERIES */
/* Reset Bootstrap responsive */
@media (min-width: 576px) and (max-width: 991px) {
  .container {
    min-width: 100% !important;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .header {
    height: 272px;
  }

  .container {
    min-width: 100% !important;
  }

  .search-box {
    width: 60%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .header {
    height: 272px;
  }

  .container {
    min-width: 100% !important;
  }

  .search-box {
    width: 60%;
  }
}

@media (min-width: 1441px) and (max-width: 2560px) {
  .header {
    height: 272px;
  }

  .container {
    min-width: 80% !important;
  }

  .search-box {
    width: 70%;
  }
}

/* end of Reset Bootstrap responsive */

@media (min-width: 768px) and (max-width: 991px) {
  .social-icons {
    flex-direction: row;
  }

  .pages {
    float: left;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .social-icons {
    flex-direction: row;
  }

  .pages {
    float: left;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .social-icons {
    flex-direction: row;
  }

  .pages {
    float: left;
  }
}

/* CUSTOM NAVIGATION */
@media (min-width: 320px) and (max-width: 991px) {
  .desktop-version-navigation {
    display: none;
  }

  .mobile-version-navigation {
    background-color: #011143;
    height: 111px;
    transition: height 2s;
  }

  .mobile-navigation-visible {
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }

  .language-link {
    text-decoration: none;
    font-family: "DejaVu Sans", sans-serif;
    color: #fff;
  }

  .navigation-routes {
    margin-top: 20px;
  }

  .navigation-routes-linls {
    padding-left: 0px;
    list-style-type: none;
  }

  .navigation-route-link {
    text-decoration: none;
    color: #fff;
    font-family: "DejaVu Sans", sans-serif;
    font-size: 23px;
    margin-bottom: 20px;
  }

  .mobile-navigation-book-btn {
    margin: 20px 0 30px 0 !important;
  }

  .mobile-navigation-text {
    font-family: "ALK Sanet", sans-serif;
    color: #fff;
    background-color: #1b3a98;
    border: none;
    width: 250px;
  }
}

@media (min-width: 992px) {
  .mobile-version-navigation {
    display: none;
  }
}
